/.vagrant
/scrapy.iml
*.pyc
_trial_temp*
dropin.cache
docs/build
*egg-info
.tox
venv
build
dist
.idea
htmlcov/
.coverage

# Customized
output/
.aux
.fdb_latexmk
.fls
.log
.DS_Store

# Windows
Thumbs.db
